<div class="container text-center"> 
    <h1>About Us</h1>
    <p>
    We are Devmatch. Our company focuses on creating an exclusive community for 
    developers and enterprenuers to meet. Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Fugit, ullam, ut, repudiandae harum commodi eius nesciunt 
    dolore eum reiciendis sunt hic perspiciatis eveniet aliquam ea ipsa nostrum 
    quos impedit inventore.
    </p>
</div>